<div class = "content">
  <div class = "main-content">
    <div class = "live-viewer">
    </div>
    <div class = "live-info">
      <h1 class = "live-title"><%= @live.title %></h1>
      <%= @live.info %>
    </div>
  </div>
  <div class = "right-content">
    <div class = "comment-viewer">
    </div>
    <div class = "comment-form">
    </div>
  </div>
</div>