<div class = content>
  <div class = main-content>
    <div class = live-viewer>
    </div>
    <div class = live-info>
    </div>
  </div>
  <div class = right-content>
    <div class = comment-viwer></div>
  </div>
</div>